@include font-face('Icomoon', './fonts/icomoon/icomoon', normal, normal, eot woff ttf svg);
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: $font-family-sans-serif;
  color: $text-secondary;
  line-height: normal;
}
