@import '~vue-multiselect/dist/vue-multiselect.min.css';

.multiselect__tag{
  background: $gray;
}
.multiselect__option--highlight {
  background: $brand-primary;
}

.multiselect__option--highlight:after {
  background: $brand-primary;
}

.multiselect__option--selected.multiselect__option--highlight {
  background: $brand-danger;
}

.multiselect__option--selected.multiselect__option--highlight:after {
  background: $brand-danger;
}

.multiselect__option--group-selected.multiselect__option--highlight {
  background: $brand-danger;
}

.multiselect__option--group-selected.multiselect__option--highlight:after {
  background: $brand-danger;
}
